<section class="grid">
    {% for post in site.posts %}
        {% assign category = post.categories[0] | strip %}
        <div class="grid__row">
            {% include grid_row.liquid category=true %}
        </div>
    {% endfor %}
</section>