<div class="header js-header">
    <div class="header__logo js-logo">
        <img src="/assets/images/benoitlalloz.svg" />
    </div>
    <div class="menu js-menu">
        <div class="menu__section">
            <span class="menu__item menu__item--main"><a href="/collections">Collections</a></span>
            <span class="menu__item menu__item--sub"><a href="/collections/radiators">Radiators</a></span>
            <span class="menu__item menu__item--sub"><a href="/collections/skins">Skins</a></span>
            <span class="menu__item menu__item--sub"><a href="/collections/creatures">Creatures</a></span>
            <span class="menu__item menu__item--sub"><a href="/collections/glass">Glass</a></span>
            <span class="menu__item menu__item--sub"><a href="/collections/micro_cities">Micro-cities</a></span>
        </div>
        <div class="menu__section">
            <span class="menu__item menu__item--main"><a href="/spaces">Spaces</a></span>
            <span class="menu__item menu__item--sub"><a href="/spaces/acne_studios">Acne Studios</a></span>
            <span class="menu__item menu__item--sub"><a href="/spaces/balanciaga">Balenciaga</a></span>
            <span class="menu__item menu__item--sub"><a href="/spaces/celine">Celine</a></span>
            <span class="menu__item menu__item--sub"><a href="/spaces/exhibitions">Exhibitions</a></span>
        </div>
        <div class="menu__section">
            <span class="menu__item menu__item--main menu__item--nochild"><a href="/laboratory">Laboratory</a></span>
        </div>
        <div class="menu__section">
            <span class="menu__item menu__item--main menu__item--nochild"><a href="/infos">Infos</a></span>
        </div>
    </div>
</div>