<div class="header">
    <div class="header__logo">
        <img src="/assets/images/benoitlalloz.svg" />
    </div>
    <div class="menu">
        <div class="menu__section">
            <span class="menu__item menu__item--main">Collections</span>
            <span class="menu__item menu__item--sub">Radiators</span>
            <span class="menu__item menu__item--sub">Skins</span>
            <span class="menu__item menu__item--sub">Creatures</span>
            <span class="menu__item menu__item--sub">Glass</span>
            <span class="menu__item menu__item--sub">Micro-cities</span>
        </div>
        <div class="menu__section">
            <span class="menu__item menu__item--main">Spaces</span>
            <span class="menu__item menu__item--sub">Acne Studios</span>
            <span class="menu__item menu__item--sub">Balenciaga</span>
            <span class="menu__item menu__item--sub">Celine</span>
            <span class="menu__item menu__item--sub">Exhibitions</span>
        </div>
        <div class="menu__section">
            <span class="menu__item menu__item--main menu__item--nochild">Laboratory</span>
        </div>
        <div class="menu__section">
            <span class="menu__item menu__item--main menu__item--nochild">Infos</span>
        </div>
    </div>
</div>