<div class="player">
    <div class="player__element">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 200">
                <path d="M87.27,2.73,38.13,58.37H21a21,21,0,0,0-21,21v40.07a21,21,0,0,0,21,21H37l50.24,56.9c6.3,7.13,14.73-.55,14.73-13.42V16.15C102,3.28,93.57-4.4,87.27,2.73Z"/><path d="M130.38,160l-4.94-4.28a91.75,91.75,0,0,0,18.22-55.41,91.64,91.64,0,0,0-18.66-56L129.9,40A98.7,98.7,0,0,1,150,100.31,98.86,98.86,0,0,1,130.38,160Z"/>
            </svg>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 200">
                <path d="M104.27,2.35,55.13,58H38A21,21,0,0,0,17,79V119a21,21,0,0,0,21,21H54l50.24,56.9c6.3,7.13,14.73-.55,14.73-13.43V15.78C119,2.9,110.57-4.78,104.27,2.35Z"/>
                <rect x="-35.6" y="96" width="222.2" height="6" transform="translate(-49 100.22) rotate(-53.23)"/>
            </svg>
        </div>
    </div>
    <div class="player__element">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 200">
                <polygon points="82.39 0 82.39 5.03 141.01 5.03 78 73.94 82.39 78 144.99 9.53 144.99 67.95 150 67.95 150 0 82.39 0"/>
                <polygon points="67.61 200 67.61 194.97 8.99 194.97 72 126.06 67.61 122 5.01 190.47 5.01 132.05 0 132.05 0 200 67.61 200"/>
            </svg>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 200">
                <polygon points="145.61 78 145.61 72.97 86.99 72.97 150 4.06 145.61 0 83.01 68.47 83.01 10.05 78 10.05 78 78 145.61 78"/>
                <polygon points="4.39 122 4.39 127.03 63.01 127.03 0 195.94 4.39 200 66.99 131.53 66.99 189.95 72 189.95 72 122 4.39 122"/>
            </svg>
        </div>
    </div>
    <div class="player__element">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 200">
                <path d="M143.18,86.2,23.75,2.35C13.59-4.78,0,2.9,0,15.78V183.47C0,196.35,13.59,204,23.75,196.9l119.43-83.85C152.27,106.67,152.27,92.58,143.18,86.2Z" />
            </svg>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 200">
                <rect width="60" height="200" rx="20"/>
                <rect x="90" width="60" height="200" rx="20"/>
            </svg>
        </div>
    </div>
</div>