$collections-grid:   3;
$spaces-grid:       2;
$laboratory-grid:   1;

.grid {
    @extend .font-2;
    margin-bottom: 50vh;
}

.grid__row {
    display: flex;
    flex-direction: column;

    @include sm {
        display: grid;

        .grid--collections & {
            grid-template-columns: repeat($collections-grid, 1fr);
        }
    
        .grid--spaces & {
            grid-template-columns: repeat($spaces-grid, 1fr);
        }
    
        .grid--laboratory & {
            grid-template-columns: repeat($laboratory-grid, 1fr);
        }
    }
}

.grid__item {

    width: 100%;
    position: relative;
    
    &--laboratory {
        height: calc(100vw * 0.5625);
    }

    &--text {

        @include sm {
            grid-column-start: 1;

            .grid--collections & {
                order: $collections-grid + 1;
                grid-column-end: $collections-grid + 1;
            }

            .grid--spaces & {
                order: $spaces-grid + 1;
                grid-column-end: $spaces-grid + 1;
            }

            .grid--laboratory & {
                order: $laboratory-grid + 1;
                grid-column-end: $laboratory-grid + 1;
            }

            &:last-of-type {
                @include margin(0 0 2 0);
            }
        }  
    }

    &--image {

        @include sm {
            .grid--collections & {
                height: calc(100vh - 4rem - 4px);
            }
    
            .grid--spaces & {
                height: calc(80vh - 3rem - 3px);
            }
    
            .grid--laboratory & {
                height: calc(100vh - 2rem - 2px);
            }
        }

        .grid--laboratory & {
            height: calc(100vw * 0.5625);
        }
    }

    @include sm {
        &--laboratory {
            width: 100%;
            height: calc(100vw * 0.5625);
        }
    
        &--spaces {
            width: 50%;
        }
    
        &--collections {
            width: 33%;
        }
    }
}

.grid__image {
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 1;
    transition: $base-transition;
    background: $background-color;

    &--hidden {
        opacity: 0;
    }

    @include sm {
        &:hover {
            background: white;
        }
    }
}