.header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: $background-color;
    z-index: 3;
    display: flex;
    flex-direction: column;
    min-height: .8em;

    &--transition {
        transition: $base-transition;
    }

    &--open {
        min-height: 50vh;
        transition: $base-transition;
        transition-duration: .6s;
    }
}

.header__logo {
    height: .8em;
    display: inline-block;
    width: fit-content;
    cursor: pointer;
    
    img {
        height: 100%;
        width: auto;
    }
}
