html, body {
    font-size: 24px;
    @include sm {
        @if $is-global-viewport-text==true {
          font-size: get-vw($text-default-px * 1px);
        }
      }
}

.main {
    &--blocked {
        overflow: hidden;
    } 
}