.menu {
    @include margin(1 0 0 0);
    width: 300px;
    display: none;
}

.menu__section {
    opacity: 0;
    transition: $base-transition;

    .header--open & {
        opacity: 1;
    }
}

.menu__item {
    &--main {
        &::after {
            content: ':';
        }

        & a, &:hover a {
            @extend .font-1;
            cursor: pointer;
        }
    } 

    &--sub {
        &::after {
            content: ',';
        }

        &:last-of-type::after {
            content: '.';
        }

        & a, &:hover a {
            @extend .font-2;
            cursor: pointer;
        }
    }

    &--nochild {
        &::after {
            content: '.';
        }
    } 

    &:hover a {
        background-size: 200% 1px;
        background-position: 0 85%;
        background-image: linear-gradient(to right, $text-color, $text-color 50%, transparent 50%, transparent);
        background-repeat: no-repeat;
    }
}