.menu {
    @include margin(2 0 0 0);
    width: 300px;
    display: none;
}

.menu__section {
    opacity: 0;
    transition: $base-transition;

    .header--open & {
        opacity: 1;
    }
}

.menu__item {
    &--main {
        &::after {
            content: ':';
        }

        & a, &:hover a {
            @extend .font-1;
            cursor: pointer;
        }
    } 

    &--sub {
        &::after {
            content: ',';
        }

        &:last-of-type::after {
            content: '.';
        }

        & a, &:hover a {
            cursor: pointer;
        }
    }

    &--nochild {
        &::after {
            content: '.';
        }
    } 

    &:hover a {
        filter: blur(.8px);
    }
}