.project {
    @extend .font-1;
    margin-bottom: 50vh;
}

.project__text {
    @include margin(0 0 2 0);

    &--credits {
        @extend .font-2;
    }
}

.project__images {
    display: flex;
    flex-direction: column;
}

.project__image {
    img {
        max-height: 110vh;
        max-width: 100%;
        width: auto;
        float: left;
    }
}