.thumb {
    object-fit: cover;
    object-position: center;
    height: 100%;
    transition: transform .3s ease-in-out;
    float: left;
    mix-blend-mode: multiply;

    &--video {
        position: absolute;
    }

    &--simple {
        transform: scale(1.01);
        @include sm {
            .grid__image:hover & {
                transform: scale(1.02);
            }
        }
    }

    .grid__image--portrait & {
        max-height: calc(100vh - #{$header-height});
    }

    &--hidden {
        display: none;
    }
}