{% include head.liquid %}
{% include header.liquid %}
<main class="main">
    <div class="content home js-content">
        {% include post.liquid %}
        {% include back_to_top.liquid %}
    </div>
</main>
{% include foot.liquid %}