$collections-grid:   4;
$spaces-grid:       2;
$laboratory-grid:   3;

.grid {
    margin-bottom: $margin-bottom;

    &--hidden {
        display: none;
    }
}

.grid__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 1;
    transition: opacity .3s ease-in-out;

    &--text {
        display: none;
    }

    @include sm {
        flex-direction: row;
        &--text {
            display: flex;
            flex-direction: column;
            @include padding(2 0 8 0);
        } 
    }

    &--hidden {
        display: none;
    }

    &--opacity {
        opacity: 0;
    }
}

.grid__item {
    margin: 0;
    position: relative;

    &--hidden {
        display: none;
    }

    @include to-sm {
        width: auto;
        display: inline-block;

        &--hidden {
            display: none;
        }
    }
}

.grid__text {
    transition: $base-transition;
    
    @include sm {
        body:not(.touch) .grid__item:hover & a, body:not(.touch) .grid__item.hover & a {
            filter: blur($blur-size);
            color: grey;
        }
    }
}

.grid__image {
    opacity: 1;
    transition: $base-transition;
    background: $background-color;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    // display: inline-block;

    .grid__item--vid & {
        height: 100%;
    }

    &--hidden {
        opacity: 0;
    }

    @include sm {
        .grid__item:hover &, .grid__item.hover & {
            background: white;
        }
    }
}