.header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: $background-color;
    z-index: 3;
    display: flex;
    flex-direction: column;
    min-height: $header-height;
    cursor: pointer;

    &--transition {
        transition: $base-transition;
    }
}

.header * {
    user-select: none;
}

.header__logo {
    @extend .font-2;
    height: 24px;
    display: inline-block;
    width: 291px;
    padding: 2px;
    cursor: pointer;
    text-transform: uppercase;
    
    img {
        height: 100%;
        width: auto;
    }

    @include sm {
        height: $header-height;
        font-size: $text-md;
        width: 363px;
        &:hover {
            filter: blur($blur-size);
        }
    }

    &:focus, & a:focus {
        outline: none !important; 
    }
}

.header--main a {
    pointer-events: none;
    @include sm{
        pointer-events: all;
    }
}