.header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: $background-color;
    z-index: 10;
    display: flex;
    flex-direction: column;
    min-height: $header-height;
    cursor: pointer;
}

.header * {
    user-select: none;
}

.header__logo {
    @extend .font-2;
    height: 24px;
    display: inline-block;
    width: 314px;
    padding: 2px;
    cursor: pointer;
    text-transform: uppercase;

    &:not(.header__logo--back)::before {
      content: '';
      width: 15px;
      height: 7px;
      margin-bottom: 3px;
      margin-right: 8px;
      display: inline-block;
      border-top: 2px solid black;
      border-bottom: 2px solid black;

      @include sm {
        margin-bottom: 4px;
        margin-right: 15px;
        height: 9px;
      }
    }

    &--back {
        width: 54px;
    }
    
    img {
        height: 100%;
        width: auto;
    }

    @include sm {
        height: $header-height;
        font-size: $text-md;
        width: 393px;
         &--back {
            width: 66px;
        }

        body:not(.touch) &:hover {
            filter: blur($blur-size);
        }
    }

    &:focus, & a:focus {
        outline: none !important; 
    }
}

body.touch .header--main a {
    pointer-events: none;
}