.infos {
    display: none;

    @include sm {
        display: inline-block;
    }

    &--mobile {
        display: inline-block;

        @include sm {
            display: none;
        }
    }
}

.infos__image {
    @include padding(1 2 0 0);
}

.infos__col {
    width: 100%;

    @include sm {
        & > :nth-child(1) {
            width: calc(100% - 363px);
            float: left;
        }

        & > :nth-child(2) {
            width: 363px;
            float: left;
        }
    }
}

.infos__text {
    margin-bottom: 1rem;

    &--hidden {
        display: none;
    }

    &--small {
        font-size: .5em;
        & p:not(:last-of-type) {
            margin-bottom: .5em;
        }
    }

    &:not(:last-of-type) {
        @include padding(0 2 0 0);
    }

    a {
        background-size: 1px 1em;
        box-shadow: inset 0 -0.1em $background-color, inset 0 -0.15em $text-color;
        display: inline;
    }
}

.toggle__more {
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 1em;

    @include sm {
        margin-bottom: 0;
        &:hover {
            filter: blur($blur-size);
            color: grey;
        }
    }

    &::after {
        content: attr(data-moins);
        white-space: pre;
    }
    
    &.js-previousHidden::after {
        content: attr(data-plus);
        white-space: pre;
    }
}