::selection {
  color: $text-color;
  background: white;
}

::-moz-selection {
  color: $text-color;
  background: white;
}

.main {
    &--blocked {
        overflow: hidden;
    } 
}

.text--home {
  @include margin(0 0 2 0);
}