.menu {
    @include margin(2 0 0 0);
    display: none;
    width: 291px;

    @include sm {
        width: 363px;
    }
}

.menu__section {
    &:not(:last-of-type) {
        @include margin(0 0 2 0);
        @include sm {
            margin: 0;
        }
    }
}

.menu__item {
    &--main {
        &.menu__item--selected ~ .menu__item, &.menu__item--selected::after {
            filter: blur($blur-size);
            color: grey;
        }

        &::after {
            content: ':';
        }

        @include sm {
            &:hover ~ .menu__item, &:hover::after {
                filter: blur($blur-size);
                color: grey;
            }
        } 
    } 

    &--sub {
        &::after {
            content: ',';
        }

        &:last-of-type::after {
            content: '.';
        }
    }

    &--nochild {
        &::after {
            content: '.';
        }
    } 

    &.menu__item--selected span {
        filter: blur($blur-size);
        color: grey;
    }

    @include sm {
        &:hover span {
            filter: blur($blur-size);
            color: grey;
        }
    } 
}