.menu {
    width: 100vw;
    position: fixed;
    top: $header-height;
    left: 0;
    background: $background-color;
    z-index: 2;
    cursor: pointer;
    transform: translateY(calc(-100% - #{$header-height}));
    transition: transform .3s ease-in-out;

    &--in {
        transform: translateY(0);
    }

    @include sm {
        body:not(.touch) .header:hover + &, body:not(.touch) &:hover {
            transform: translateY(0);
        }
    }
}

.menu__inner {
    @include margin(2 0 0 0);
    width: 291px;
    opacity: 0;
    transition: opacity .3s ease-in-out;

    .menu--in & {
        opacity: 1;
    }

    @include sm {
        width: 363px;

        body:not(.touch) .header:hover + .menu &, body:not(.touch) .menu:hover & {
            opacity: 1;
        }
    }
}

.menu__section {
    &:not(:last-of-type) {
        @include margin(0 0 2 0);
        @include sm {
            margin: 0;
        }
    }
}

.menu__item {
    &--main {
        &.menu__item--selected ~ .menu__item, &.menu__item--selected::after {
            filter: blur($blur-size);
            color: grey;
        }

        &::after {
            content: ':';
        }

        @include sm {
            body:not(.touch) &:hover ~ .menu__item, body:not(.touch) &:hover::after {
                filter: blur($blur-size);
                color: grey;
            }
        } 
    } 

    &--sub {
        &::after {
            content: ',';
        }

        &:last-of-type::after {
            content: '.';
        }
    }

    &--nochild {
        &::after {
            content: '.';
        }
    } 

    &.menu__item--selected span {
        filter: blur($blur-size);
        color: grey;
    }

    @include sm {
        body:not(.touch) &:hover span {
            filter: blur($blur-size);
            color: grey;
        }
    } 
}