.player {
    @include margin(2);
    display: inline-block;
    position: absolute;
    bottom: 4px;
    left: 21px;
    z-index: 4;
}

.player__element {
    @include margin(0 4 0 0);
    cursor: pointer;

    svg {
        height: 1em;
        width: calc(1em * 0.75);
        fill: $background-color;
    }

    &--hidden {
        display: none;
    }
}

.button--hidden {
    display: none;
}

.button--top {
    z-index: 99999;
    color: white; 
}