.project {
    @extend .font-1;
    margin-bottom: $margin-bottom;
}

.project__text {
    @include margin(0 0 2 0);

    a {
        background-size: 1px 1em;
        box-shadow: inset 0 -0.1em $background-color, inset 0 -0.15em $text-color;
        display: inline;
    }

    &--credits {
        @include margin(1 0 2 0);
    }
}

.project__images {
    display: flex;
    flex-direction: column;

    body.ios & {
        display: block;
    }
}

.project__image {
    overflow: hidden;
    max-height: 60vh;
    position: relative;

    @include sm {
        @include padding(0 20 0 0);
        max-height: calc(100vh - #{$header-height});
    }

    img {
        width: 100%;
        float: left;
        display: block;
    }
}

.project__video {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: calc((100vh - #{$header-height}) * 1.77);
    max-height: calc(100vh - #{$header-height});
    overflow: hidden;

        iframe {
            width: 100vw;
            height: 56.25vw;
            max-height: calc(100vh - #{$header-height});
            max-width: calc((100vh - #{$header-height}) * 1.77);
            float: left;

            @include sm {
                width: calc(100vw - 100px);
                height: calc((100vw - 100px) * 0.5625); 
            }
        }
}

h1 {
    font-size: 1rem;
}

.blur {
    filter: blur(5px);
}

.blur.lazyloaded {
    filter: blur(0);
}