.thumb {
    object-fit: cover;
    object-position: center;
    max-height: calc(100vh - #{$header-height});
    height: auto;
    transition: transform .3s ease-in-out, filter .3s linear;
    float: left;
    mix-blend-mode: multiply;

    @include sm {
        width: 100%;
        max-height: calc(100vh - #{$header-height});
    }

    // &--video {
    //     position: absolute;
    // }

    .grid__item--home & {
        width: auto;
    }

    &--simple {
        transform: scale(1.01);
        @include sm {
            .grid__item:hover &, .grid__item.hover & {
                transform: scale(1.02);
            }
        }
    }

    &--hidden {
        display: none;
    }

    &--contain {
        object-fit: contain;
        object-position: left;
    }
}

.thumb__caption {
    display: inline-block;
    @include margin(1 0 8 0);
    width: 100%;

    @include sm {
        display: none;
    }
}