.jump {
    text-transform: uppercase;
    cursor: pointer;

    body:not(.touch) &:hover {
        filter: blur($blur-size);
        color: grey;
    }

    body.ios & {
        margin-bottom: 80px;
    }
}